#title{
    height: 10%;
    width: 100%;

}

#graphics{
    height: 90%;
    width: 100%;
}

#links{
    height: 20%;

}

#map{
    height: 80%;
    width: 100%;
}

#text{
    height: 40%;
    width: 100%;
}

footer{
    height: 20%;
    width: 100%;
}